In [1]:
import pandas as pd
import os
import sys
import pymongo
from pymongo import MongoClient

if os.path.abspath('../') not in sys.path:
    sys.path.insert(0, os.path.abspath('../'))

In [2]:
database_username = "admin01"
database_password = "LZRKfNnjX38rCOMs"
database_cluster_name = "bigdataforengineering.wef2a2d.mongodb.net"
connection_string = f"mongodb+srv://{database_username}:{database_password}@{database_cluster_name}/?retryWrites=true&w=majority"

database_name = "environment"
collection_name = "raw_openweather"

client = pymongo.MongoClient(connection_string)

# Check if the connection was successful
if client.server_info():
    print("Connected to MongoDB successfully!")


db = client[database_name]
collection = db[collection_name]
cursor = collection.find({})
data_list = list(cursor)
Vie_weather = pd.DataFrame(data_list)
Vie_weather

Connected to MongoDB successfully!

,_id,temp,temp_min,sunrise,report_time,sunset,description,humidity,location,pressure,feels_like,temp_max,wind
0,659e617af63ecd73f81c104c,304.11,304.11,1704842263,2024-01-10 09:13:35,1704884095,overcast clouds,53.0,Ca Mau,1008.0,306.31,304.11,5.06
1,659e617af63ecd73f81c104d,301.75,301.75,1704842135,2024-01-10 09:15:06,1704883947,overcast clouds,64.0,Bac Lieu,1008.0,304.09,301.75,7.07
2,659e617af63ecd73f81c104e,303.04,303.04,1704842362,2024-01-10 09:16:36,1704884028,overcast clouds,66.0,Rach Gia,1008.0,307.01,303.04,2.05
3,659e617af63ecd73f81c104f,303.11,303.11,1704842106,2024-01-10 09:18:06,1704883854,overcast clouds,56.0,Soc Trang,1008.0,305.15,303.11,5.68
4,659e617af63ecd73f81c1050,305.12,305.12,1704842319,2024-01-10 09:19:37,1704883911,overcast clouds,52.0,Long Xuyen,1007.0,307.95,305.12,1.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,65a1343a5903ce0f56e71576,290.65,290.65,1705014929,2024-01-12 12:44:42,1705055757,clear sky,89.0,Kon Tum,1015.0,290.78,290.65,1.62
1076,65a134955903ce0f56e71577,296.07,296.07,1705014488,2024-01-12 12:46:13,1705055573,overcast clouds,83.0,Tuy Hoa,1015.0,296.58,296.07,3.16
1077,65a134ef5903ce0f56e71578,296.37,296.37,1705014573,2024-01-12 12:47:43,1705055520,overcast clouds,78.0,Quy Nhon,1015.0,296.78,296.37,4.47
1078,65a135495903ce0f56e71579,297.14,297.14,1705015051,2024-01-12 12:49:13,1705055528,few clouds,78.0,Turan,1016.0,297.63,297.14,1.54
1079,65a135a35903ce0f56e7157a,294.63,294.63,1705014815,2024-01-12 12:50:43,1705055487,scattered clouds,84.0,Quang Ngai,1016.0,295.03,294.63,0.47

In [3]:
#  drop the _id, report_time, descripton columns
Vie_weather = Vie_weather.drop(columns=['_id','report_time'])
Vie_weather

,temp,temp_min,sunrise,sunset,description,humidity,location,pressure,feels_like,temp_max,wind
0,304.11,304.11,1704842263,1704884095,overcast clouds,53.0,Ca Mau,1008.0,306.31,304.11,5.06
1,301.75,301.75,1704842135,1704883947,overcast clouds,64.0,Bac Lieu,1008.0,304.09,301.75,7.07
2,303.04,303.04,1704842362,1704884028,overcast clouds,66.0,Rach Gia,1008.0,307.01,303.04,2.05
3,303.11,303.11,1704842106,1704883854,overcast clouds,56.0,Soc Trang,1008.0,305.15,303.11,5.68
4,305.12,305.12,1704842319,1704883911,overcast clouds,52.0,Long Xuyen,1007.0,307.95,305.12,1.51
...,...,...,...,...,...,...,...,...,...,...,...
1075,290.65,290.65,1705014929,1705055757,clear sky,89.0,Kon Tum,1015.0,290.78,290.65,1.62
1076,296.07,296.07,1705014488,1705055573,overcast clouds,83.0,Tuy Hoa,1015.0,296.58,296.07,3.16
1077,296.37,296.37,1705014573,1705055520,overcast clouds,78.0,Quy Nhon,1015.0,296.78,296.37,4.47
1078,297.14,297.14,1705015051,1705055528,few clouds,78.0,Turan,1016.0,297.63,297.14,1.54
1079,294.63,294.63,1705014815,1705055487,scattered clouds,84.0,Quang Ngai,1016.0,295.03,294.63,0.47

In [4]:
Vie_weather.columns

Index(['temp', 'temp_min', 'sunrise', 'sunset', 'description', 'humidity',
       'location', 'pressure', 'feels_like', 'temp_max', 'wind'],
      dtype='object')

In [5]:
# info about the data
Vie_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         1080 non-null   float64
 1   temp_min     1080 non-null   float64
 2   sunrise      1080 non-null   int64
 3   sunset       1080 non-null   int64
 4   description  1080 non-null   object
 5   humidity     1080 non-null   float64
 6   location     1080 non-null   object
 7   pressure     1080 non-null   float64
 8   feels_like   1080 non-null   float64
 9   temp_max     1080 non-null   float64
 10  wind         1080 non-null   float64
dtypes: float64(7), int64(2), object(2)
memory usage: 92.9+ KB

In [6]:
# count unique values in location columns 
locations = Vie_weather['location'].value_counts()
print(locations.index)

Index(['Ca Mau', 'Loc Ninh', 'Turan', 'Quy Nhon', 'Tuy Hoa', 'Kon Tum',
       'Pleiku', 'Nha Trang', 'Phan Rang-Thap Cham', 'Buon Ma Thuot', 'Da Lat',
       'Phan Thiet', 'Vung Tau', 'Bien Hoa', 'Phu Khuong', 'Bac Lieu',
       'Quang Ngai', 'Hoi An', 'Quang Tri', 'Kwang Binh', 'Ha Tinh', 'Vinh',
       'Thanh Hoa', 'Ninh Binh', 'Nam Dinh', 'Thai Binh', 'Phu Ly', 'Hung Yen',
       'Hai Duong', 'Hue', 'Thu Dau Mot', 'Ho Chi Minh City', 'Tan An',
       'My Tho', 'Tra Vinh', 'Ben Tre', 'Cao Lanh', 'Vinh Long', 'Can Tho',
       'Long Xuyen', 'Soc Trang', 'Rach Gia', 'Lao Cai', 'Ha Giang',
       'Cao Bang', 'Lang Son', 'Ha Long', 'Haiphong', 'Lai Chau', 'Son La',
       'Dien Bien Phu', 'Ha Noi', 'Hoa Binh', 'Viet Tri', 'Vinh Yen',
       'Bac Giang', 'Bac Ninh', 'Yen Bai', 'Tuyen Quang', 'Thai Nguyen',
       'Bac Kan'],
      dtype='object')

In [7]:
city_province_mapping = {
    'Lang Son': 'Lang Son',
    'Hue': 'Thua Thien - Hue',
    'Kon Tum': 'Kon Tum',
    'Kwang Binh': 'Quang Binh',
    'Lao Cai': 'Lao Cai',
    'Loc Ninh': 'Binh Phuoc',
    'Nam Dinh': 'Nam Dinh',
    'Nha Trang': 'Khanh Hoa',
    'Ninh Binh': 'Ninh Binh',
    'Phan Rang-Thap Cham': 'Ninh Thuan',
    'Phan Thiet': 'Binh Thuan',
    'Phu Khuong': 'Tay Ninh',
    'Phu Ly': 'Ha Nam',
    'Pleiku': 'Gia Lai',
    'Quang Ngai': 'Quang Ngai',
    'Quang Tri': 'Quang Tri',
    'Quy Nhon': 'Binh Dinh',
    'Thai Binh': 'Thai Binh',
    'Thanh Hoa': 'Thanh Hoa',
    'Turan': 'Da Nang',
    'Tuy Hoa': 'Phu Yen',
    'Hung Yen': 'Hung Yen',
    'Vinh': 'Nghe An',
    'Hoi An': 'Quang Nam',
    'Ha Long': 'Quang Ninh',
    'Bac Lieu': 'Bac Lieu',
    'Vung Tau': 'Ba Ria-Vung Tau',
    'Bien Hoa': 'Dong Nai',
    'Buon Ma Thuot': 'Dak Lak',
    'Ca Mau': 'Ca Mau',
    'Da Lat': 'Lam Dong',
    'Ha Giang': 'Ha Giang',
    'Cao Bang': 'Cao Bang',
    'Hai Duong': 'Hai Duong',
    'Haiphong': 'Hai Phong',
    'Ha Tinh': 'Ha Tinh',
    'Ha Noi': 'Ha Noi',
    'Tan An': 'Long An',
    'Ho Chi Minh City': 'Ho Chi Minh city',
    'Lai Chau': 'Lai Chau',
    'Tra Vinh': 'Tra Vinh',
    'Thu Dau Mot': 'Binh Duong',
    'Ben Tre': 'Ben Tre',
    'Vinh Long': 'Vinh Long',
    'Viet Tri': 'Phu Tho',
    'Soc Trang': 'Soc Trang',
    'Son La': 'Son La',
    'Rach Gia': 'Kien Giang',
    'Can Tho': 'Can Tho',
    'Hoa Binh': 'Hoa Binh',
    'Cao Lanh': 'Dong Thap',
    'Vinh Yen': 'Vinh Phuc',
    'Dien Bien Phu': 'Dien Bien',
    'My Tho': 'Tien Giang',
    'Long Xuyen': 'An Giang',
    'Bac Giang': 'Bac Giang',
    'Bac Ninh': 'Bac Ninh',
    'Yen Bai': 'Yen Bai',
    'Tuyen Quang': 'Tuyen Quang',
    'Thai Nguyen': 'Thai Nguyen',
    'Bac Kan': 'Bac Kan'
}

# Replace the city names with corresponding provinces
Vie_weather['province'] = Vie_weather['location'].replace(city_province_mapping)
# drop location column 
Vie_weather.drop(columns=['location'], inplace=True)

In [8]:
# sort by location 
Vie_weather = Vie_weather.sort_values(by='province')
Vie_weather

,temp,temp_min,sunrise,sunset,description,humidity,pressure,feels_like,temp_max,wind,province
403,301.12,301.12,1704928736,1704970342,scattered clouds,59.0,1009.0,302.45,301.12,1.95,An Giang
342,303.12,303.12,1704928736,1704970342,few clouds,57.0,1009.0,305.35,303.12,1.65,An Giang
830,297.12,297.12,1705015152,1705056774,overcast clouds,90.0,1011.0,297.92,297.12,1.77,An Giang
769,297.12,297.12,1705015152,1705056774,broken clouds,87.0,1010.0,297.84,297.12,2.27,An Giang
281,305.12,305.12,1704928736,1704970342,scattered clouds,47.0,1008.0,306.77,305.12,1.68,An Giang
...,...,...,...,...,...,...,...,...,...,...,...
273,291.55,291.55,1704930050,1704969292,overcast clouds,95.0,1016.0,291.93,291.55,0.91,Yen Bai
883,291.15,291.15,1705016457,1705055733,overcast clouds,97.0,1017.0,291.54,291.15,0.54,Yen Bai
166,291.41,291.41,1704930050,1704969292,overcast clouds,94.0,1017.0,291.75,291.41,0.74,Yen Bai
105,291.47,291.47,1704843642,1704882852,overcast clouds,94.0,1017.0,291.81,291.47,0.93,Yen Bai
212,291.72,291.72,1704930050,1704969292,overcast clouds,94.0,1016.0,292.09,291.72,1.05,Yen Bai

In [9]:
provinces = Vie_weather['province'].value_counts().sort_index()
print(provinces.index)
print("Provinces values : \n", provinces.values)
# count number of index in provinces
print("Number of provinces : ", len(provinces.index))

Index(['An Giang', 'Ba Ria-Vung Tau', 'Bac Giang', 'Bac Kan', 'Bac Lieu',
       'Bac Ninh', 'Ben Tre', 'Binh Dinh', 'Binh Duong', 'Binh Phuoc',
       'Binh Thuan', 'Ca Mau', 'Can Tho', 'Cao Bang', 'Da Nang', 'Dak Lak',
       'Dien Bien', 'Dong Nai', 'Dong Thap', 'Gia Lai', 'Ha Giang', 'Ha Nam',
       'Ha Noi', 'Ha Tinh', 'Hai Duong', 'Hai Phong', 'Ho Chi Minh city',
       'Hoa Binh', 'Hung Yen', 'Khanh Hoa', 'Kien Giang', 'Kon Tum',
       'Lai Chau', 'Lam Dong', 'Lang Son', 'Lao Cai', 'Long An', 'Nam Dinh',
       'Nghe An', 'Ninh Binh', 'Ninh Thuan', 'Phu Tho', 'Phu Yen',
       'Quang Binh', 'Quang Nam', 'Quang Ngai', 'Quang Ninh', 'Quang Tri',
       'Soc Trang', 'Son La', 'Tay Ninh', 'Thai Binh', 'Thai Nguyen',
       'Thanh Hoa', 'Thua Thien - Hue', 'Tien Giang', 'Tra Vinh',
       'Tuyen Quang', 'Vinh Long', 'Vinh Phuc', 'Yen Bai'],
      dtype='object')
Provinces values :
 [18 19 16 15 19 16 18 19 18 19 19 19 18 17 19 19 16 19 18 19 17 18 16 18
 18 17 18 16 18 19 18 19 16 19 17 17 18 18 18 18 19 16 19 18 18 19 17 18
 18 16 19 18 15 18 18 18 18 15 18 16 16]
Number of provinces :  61

## missing provinces: Hau Giang Dak nong 
--> fill the Tay Ninh data by Binh Phuoc and 
#### 
--> Hau Giang by Can Tho (Since they are neighbors--> same weather)

In [19]:
# Index values for 'Lam Dong' and 'Quang Nam'
Hau_Giang = Vie_weather[Vie_weather['province'] == 'Can Tho'].index
Dak_Nong = Vie_weather[Vie_weather['province'] == 'Dak Lak'].index

In [20]:
Vie_weather = pd.concat([Vie_weather, Vie_weather.loc[Hau_Giang].replace({'province': 'Can Tho'}, 'Hau Giang')], ignore_index=True)

In [21]:
Vie_weather = pd.concat([Vie_weather, Vie_weather.loc[Dak_Nong].replace({'province': 'Dak Lak'}, 'Dak Nong')], ignore_index=True)

In [22]:
province = Vie_weather['province'].value_counts().sort_index()
print(province.index)
print("Provinces values : \n", province.values)
# count number of index in provinces
print("Number of provinces : ", len(province.index))

Index(['An Giang', 'Ba Ria-Vung Tau', 'Bac Giang', 'Bac Kan', 'Bac Lieu',
       'Bac Ninh', 'Ben Tre', 'Binh Dinh', 'Binh Duong', 'Binh Phuoc',
       'Binh Thuan', 'Ca Mau', 'Can Tho', 'Cao Bang', 'Da Nang', 'Dak Lak',
       'Dak Nong', 'Dien Bien', 'Dong Nai', 'Dong Thap', 'Gia Lai', 'Ha Giang',
       'Ha Nam', 'Ha Noi', 'Ha Tinh', 'Hai Duong', 'Hai Phong', 'Hau Giang',
       'Ho Chi Minh city', 'Hoa Binh', 'Hung Yen', 'Khanh Hoa', 'Kien Giang',
       'Kon Tum', 'Lai Chau', 'Lam Dong', 'Lang Son', 'Lao Cai', 'Long An',
       'Nam Dinh', 'Nghe An', 'Ninh Binh', 'Ninh Thuan', 'Phu Tho', 'Phu Yen',
       'Quang Binh', 'Quang Nam', 'Quang Ngai', 'Quang Ninh', 'Quang Tri',
       'Soc Trang', 'Son La', 'Tay Ninh', 'Thai Binh', 'Thai Nguyen',
       'Thanh Hoa', 'Thua Thien - Hue', 'Tien Giang', 'Tra Vinh',
       'Tuyen Quang', 'Vinh Long', 'Vinh Phuc', 'Yen Bai'],
      dtype='object')
Provinces values :
 [ 7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  7 14  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7]
Number of provinces :  63

In [14]:
# Vie_weather['province'].value_counts().sort_index().plot(kind='bar', figsize=(20, 10), title='Number of weather reports by province')

#### In the economic and deforestation datasets, we have collected historical data spanning seven years for various provinces and municipalities. Therefore, we will randomly select seven columns to make predictions on the "Tropical Forest Loss per Hectare" column.

In [23]:
target_count = 7

# Create an empty DataFrame to store the filtered data
filtered_data = pd.DataFrame()

# Iterate over unique provinces
for province in Vie_weather['province'].unique():
    # Get rows for the current province
    province_rows = Vie_weather[Vie_weather['province'] == province].copy()
    
    # If there are more than 7 rows, randomly select 7 rows
    if len(province_rows) > target_count:
        province_rows = province_rows.sample(n=target_count, random_state=42)
    
    # If there are fewer than 7 rows, duplicate existing rows until reaching 7
    while len(province_rows) < target_count:
        province_rows = pd.concat([province_rows, province_rows.sample(n=target_count - len(province_rows), replace=True, random_state=42)])
    
    # Append the processed rows to the filtered data
    filtered_data = pd.concat([filtered_data, province_rows])

# Reset index of the filtered data
filtered_data.reset_index(drop=True, inplace=True)
Vie_weather = filtered_data
Vie_weather

,temp,temp_min,sunrise,sunset,description,humidity,pressure,feels_like,temp_max,wind,province
0,301.12,301.12,1704928736,1704970342,scattered clouds,59.0,1009.0,302.45,301.12,1.95,An Giang
1,303.12,303.12,1704928736,1704970342,few clouds,57.0,1009.0,305.35,303.12,1.65,An Giang
2,300.12,300.12,1704928736,1704970342,overcast clouds,74.0,1012.0,302.29,300.12,4.09,An Giang
3,298.12,298.12,1704928736,1704970342,overcast clouds,84.0,1012.0,298.87,298.12,3.02,An Giang
4,297.12,297.12,1705015152,1705056774,broken clouds,87.0,1010.0,297.84,297.12,2.27,An Giang
...,...,...,...,...,...,...,...,...,...,...,...
436,292.98,292.98,1704841917,1704883048,overcast clouds,82.0,1013.0,293.16,292.98,3.72,Dak Nong
437,291.52,291.52,1705014747,1705055915,overcast clouds,84.0,1013.0,291.61,291.52,3.21,Dak Nong
438,302.24,302.24,1704928332,1704969482,broken clouds,44.0,1012.0,302.24,302.24,4.04,Dak Nong
439,299.74,299.74,1704928332,1704969482,broken clouds,52.0,1012.0,299.74,299.74,4.32,Dak Nong
440,294.44,294.44,1704928332,1704969482,broken clouds,73.0,1013.0,294.53,294.44,4.11,Dak Nong

In [24]:
# sort index by province
Vie_weather = Vie_weather.sort_values(by='province')
Vie_weather

,temp,temp_min,sunrise,sunset,description,humidity,pressure,feels_like,temp_max,wind,province
0,301.12,301.12,1704928736,1704970342,scattered clouds,59.0,1009.0,302.45,301.12,1.95,An Giang
1,303.12,303.12,1704928736,1704970342,few clouds,57.0,1009.0,305.35,303.12,1.65,An Giang
2,300.12,300.12,1704928736,1704970342,overcast clouds,74.0,1012.0,302.29,300.12,4.09,An Giang
3,298.12,298.12,1704928736,1704970342,overcast clouds,84.0,1012.0,298.87,298.12,3.02,An Giang
4,297.12,297.12,1705015152,1705056774,broken clouds,87.0,1010.0,297.84,297.12,2.27,An Giang
...,...,...,...,...,...,...,...,...,...,...,...
432,291.07,291.07,1704930050,1704969292,overcast clouds,97.0,1018.0,291.45,291.07,0.90,Yen Bai
433,291.72,291.72,1704930050,1704969292,overcast clouds,94.0,1016.0,292.09,291.72,1.05,Yen Bai
427,291.19,291.19,1704930050,1704969292,overcast clouds,96.0,1018.0,291.56,291.19,0.84,Yen Bai
429,291.55,291.55,1704930050,1704969292,overcast clouds,95.0,1016.0,291.93,291.55,0.91,Yen Bai
430,291.47,291.47,1704843642,1704882852,overcast clouds,94.0,1017.0,291.81,291.47,0.93,Yen Bai

In [25]:
# save the data to excel
Vie_weather.to_excel('../data/processed/Vie_weather.xlsx', index=False)

In [26]:
database_username = "admin01"
database_password = "LZRKfNnjX38rCOMs"
database_cluster_name = "bigdataforengineering.wef2a2d.mongodb.net"
connection_string = f"mongodb+srv://{database_username}:{database_password}@{database_cluster_name}/?retryWrites=true&w=majority"

new_database = 'processed_data'
open_weather = 'vie_weather'

# Connect to MongoDB
client = pymongo.MongoClient(connection_string)

# Check if the connection was successful
if client.server_info():
    print("Connected to MongoDB successfully!")

# Access the specified database and collection
db = client[new_database]
collection = db[open_weather]

# Read the Excel file into a DataFrame
Vie_weather = pd.read_excel('../data/processed/Vie_weather.xlsx')
# Save the DataFrame to MongoDB
collection.insert_many(Vie_weather.to_dict('records'))

# Verify if the data has been successfully inserted
cursor = collection.find({})
data_list = list(cursor)
updated_data = pd.DataFrame(data_list)
print("Data successfully inserted into MongoDB collection:", open_weather)

Connected to MongoDB successfully!
Data successfully inserted into MongoDB collection: vie_weather